'.source.tla':
  'TLA Module':
    prefix: 'MODULE'
    body:
      '---- MODULE ${1:moduleName} ----\n\n\n==========================='
  'Init State':
    prefix: 'Init =='
    body:
      'Init == ${1:TRUE}'
  'Next State':
    prefix: 'Next =='
    body:
      'Next == ${1:TRUE}'
  'Spec Expression':
    prefix: 'Spec =='
    body:
      'Spec == Init /\\\\ [][Next]_${1:vars}'
  'logical and':
    prefix: 'la'
    body: '/\\\\'
  'logical or':
    prefix: 'lo'
    body: '\\\\/'
  'Variable declaration':
    prefix: 'VAR'
    body: 'VARIABLES ${1:v}\nvars == << ${1:v} >>'
  'Choose Statement':
    prefix: 'CHOOSE'
    body: 'CHOOSE ${1:e}: ${1:e} ${2:\\\\in E}'
